<div class="bg-fondo-blanco overflow-auto h-full relative p-3 rounded-xl shadow-md sm:h-full flex flex-col">
    <div class="flex justify-end items-center py-2 flex-wrap-reverse gap-3">
      <!-- Filtro por código -->
      <div class="flex gap-2 items-center">
        <div class="relative flex items-center">
          <i class="pi pi-search absolute left-3 text-letra-gris-medio"></i>
          <input [(ngModel)]="busqueda" class="w-full pl-10 p-1 border border-letra-gris-medio rounded-md focus:outline-none focus:ring-1 focus:ring-fondo-verde focus:border-transparent" type="text" pInputText placeholder="Buscar por código" />
        </div>
      </div>
  
      <!-- Filtro por estado -->
      <div class="flex gap-2 items-center">
        <p-dropdown [(ngModel)]="estadoFiltro" (ngModelChange)="filtrarPQRD()" [options]="estados" placeholder="Filtrar por estado"></p-dropdown>
      </div>
  
      <button pButton label="Filtrar" icon="pi pi-filter" (click)="filtrarPQRD()"></button>
    </div>
  
    <div class="flex-grow overflow-auto relative h-80">
      <p-table
        [value]="listaFiltradaPQRD | buscarPQRD: busqueda"
        [paginator]="true"
        [rows]="5"
        [first]="first"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
        scrollable="true"
        scrollHeight="flex"
        styleClass="h-full"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="px-2 py-2 border-b border-letra-gris-medio">Código</th>
            <th class="px-2 py-2 border-b border-letra-gris-medio">Usuario PQRD</th>
            <th class="px-2 py-2 border-b border-letra-gris-medio">Riesgo Vital</th>
            <th class="px-2 py-2 border-b border-letra-gris-medio">Entidad Territorial</th>
            <th class="px-2 py-2 border-b border-letra-gris-medio">Tecnología</th>
            <th class="px-2 py-2 border-b border-letra-gris-medio">Fecha</th>
            <th class="px-2 py-2 border-b border-letra-gris-medio">Estado</th>
            <th class="px-2 py-2 border-b border-letra-gris-medio">Usuario Seguimiento</th>
            <th class="px-2 py-2 border-b border-letra-gris-medio text-center">Opciones</th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-pqrd>
          <tr>
            <td class="px-1 py-1 border-b border-letra-gris-claro">{{ pqrd.codigoRadicacion }}</td>
            <td class="px-1 py-1 border-b border-letra-gris-claro">{{ pqrd.aspectoGeneralDePQRD.usuarioPQRD.nombres }} {{pqrd.aspectoGeneralDePQRD.usuarioPQRD.apellidos}}</td>
            <td class="px-1 py-1 border-b border-letra-gris-claro">{{ pqrd.aspectoGeneralDePQRD.riesgoVital | siONo }}</td>
            <td class="px-1 py-1 border-b border-letra-gris-claro">{{ pqrd.entidadTerritorial }}</td>
            <td class="px-1 py-1 border-b border-letra-gris-claro">{{ pqrd.aspectoGeneralDePQRD.fundamentoPQRD.tipoDeTecnologia }}</td>
            <td class="px-1 py-1 border-b border-letra-gris-claro">{{ pqrd.fechaActualizacion | date: 'shortDate' }}</td>
            <td class="px-1 py-1 border-b border-letra-gris-claro">{{ pqrd.estado }}</td>
            <td class="px-1 py-1 border-b border-letra-gris-claro">{{ pqrd.tramiteInstitucional.seguimientos[0].idUsuario | nombreDeUsuario | async }}</td>
            <td class="px-1 py-1 border-b border-letra-gris-claro text-center">
              <button pButton icon="pi pi-search" class="p-button-rounded p-button-success" (click)="verDetallesPQRD(pqrd)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  