<div class="flex">
    <div class="bg-fondo-verde h-svh w-7/12">

    </div>
    <div class="h-svh w-5/12 bg-fondo-gris flex justify-center items-center">
        
        <div class="w-9/12 h-svh py-4 bg-fondo-blanco rounded-xl shadow-xl border-1 border-solid border-letra-gris-claro">
            <a 
                [routerLink]="['/inicio']"
                class="mx-2 py-1 px-2 rounded-md bg-fondo-gris text-letra-negra text-xl shadow-sm border-1 border-solid border-letra-gris-claro"
            >
                <fa-icon [icon]="icono" />
            </a>
        </div>
    </div>
</div>