.bg-fondo-blanco {
    background-color: #fff;
  }
  
  .text-letra-negra {
    color: #333;
  }
  
  .text-letra-gris-medio {
    color: #666;
  }
  
  .border-letra-gris-medio {
    border-color: #666;
  }
  