<div class="w-full bg-fondo-blanco overflow-auto  p-3 rounded-xl shadow-md flex flex-col gap-4">
    <p>Bienvenido, registre usted mismo su queja o petición</p>
    <div class="flex-1 flex flex-col h-full overflow-auto">
        <p-tabView #tabView>
          <p-tabPanel header="Identificación del Usuario Afectado">
            <app-formulario-usuario-afectado 
              [usuarioNormal]="usuarioNormal"
              (entidadTerritorial)="agregarEntidadTerritorial($event)"
              (formularioSubmit)="onFormularioUsuarioAfectadoSubmit($event)"></app-formulario-usuario-afectado>
          
          </p-tabPanel>
    
          <p-tabPanel header="Caracterización de Vulnerabilidad">
            <app-formulario-categorizacion-de-vulnerabilidad
              (vulnerabilidadEmitida)="onFormularioVulnerabilidadSubmit($event)" ></app-formulario-categorizacion-de-vulnerabilidad>
            
            
          </p-tabPanel>
    
          <p-tabPanel header="Aspectos Generales de PQRD">
            <app-formulario-aspecto-general 
              [usuarioAfectado]="this.usuarioAfectado"
                (formularioSubmit)="onFormularioAspectpGeneralSubmit($event)" ></app-formulario-aspecto-general>
            
            
          </p-tabPanel>
    
          
        </p-tabView>
      </div>
</div>
