<div class="bg-fondo-blanco overflow-auto h-full relative p-3 rounded-xl shadow-md sm:h-full flex flex-col justify-center items-center content-center">
    <form 
    [formGroup]="formulario" 
    (ngSubmit)="onSubmit()"
    class="flex-grow justify-center items-center content-center overflow-auto relative h-80 gap-4 "
  >
    <div class="overflow-auto flex justify-center gap-4">
      
    
      <label class="flex flex-col gap-1 text-letra-negra font-normal">
        Nombre de la Enfermedad
        <input 
          id="nombre" 
          formControlName="nombre" 
          type="text"
          required
          class="text-md font-semibold border-letra-gris-medio border-1 border-solid rounded-md px-2 py-2 focus:outline-none"
        >
      </label>
    
    </div>
    
    <div class="flex gap-4 w-full justify-center col-span-1 sm:col-span-2 mt-6 sm:mt-4 mb-4 sm:mb-0">
      <button 
        type="submit" 
        class="px-4 py-2 cursor-pointer hover:bg-fondo-verde-old text-lg bg-fondo-verde text-letra-blanca font-semibold border-none rounded-md"
      >
        {{ textoConfirmar }}
      </button>
  
      <button 
        type="button"
        (click)="cancelar()"
        class="px-4 py-2 cursor-pointer hover:opacity-50 text-lg bg-color-rojo text-letra-blanca font-semibold border-none rounded-md"
      >
        Cancelar
      </button>
    </div>
  </form>
    </div>
    