/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "tailwindcss/tailwind.css";
@import "primeicons/primeicons.css";

/* Estilos de Tailwind */
@layer tailwind-base, primeng, tailwind-utilities;
        
@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

* {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/* Estilos generales para input y select, excepto para los checkbox */
input:not([type="checkbox"]), select {
  width: 100%;
  font-size: 16px;
  border: 1px solid #d1d1d1; /* Borde inicial transparente */
  border-radius: 5px;
  background-color: #fff;
  transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Suaviza el cambio */
}

/* Efecto focus para input y select, excepto checkbox */
input:not([type="checkbox"]):focus, select:focus {
  outline: none;
  box-shadow: 0 0 5px #4b7bec; /* Efecto glow */
  border-color: #4b7bec; /* Color del borde */
}

/* Efecto hover para input y select, excepto checkbox */
input:not([type="checkbox"]):hover, select:hover {
  border-color: #a29bfe; /* Cambia el color del borde al hacer hover */
  transition: border-color 0.3s ease; /* Suaviza el cambio del borde */
}

  
/* Quitar flechas en Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
