<div class="bg-fondo-blanco overflow-auto h-full relative p-3 rounded-xl shadow-md sm:h-full flex flex-col">
    <div class="flex justify-end items-center py-2 flex-wrap-reverse gap-3">
        <div class="flex gap-2 items-center">
            <div class="relative flex items-center">
                <i class="pi pi-search absolute left-3 text-letra-gris-medio"></i>
                <input [(ngModel)]="busqueda" class="w-full pl-10 p-1 border border-letra-gris-medio rounded-md focus:outline-none focus:ring-1 focus:ring-fondo-verde focus:border-transparent" type="text" pInputText placeholder="Buscar" />
            </div>
        </div>
    </div>
    <div class="flex-grow overflow-auto relative h-full">
        <p-table
            [value]="listaPQRD | buscarPQRD: busqueda"
            [paginator]="true"
            [rows]="5"
            [first]="first"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas"
            (onPage)="pageChange($event)"
            [rowsPerPageOptions]="[10, 25, 50]"
            scrollable="true"
            scrollHeight="flex"
            styleClass="h-full"
        >
        <ng-template pTemplate="header">
            <tr>
                <th class="px-2 py-2 border-b border-letra-gris-medio w-2/6 sm:w-1/6">Código Radicación</th>
                <th class="px-2 py-2 border-b border-letra-gris-medio sm:w-2/6">Nombre Usuario</th>
                <th class="px-2 py-2 border-b border-letra-gris-medio sm:w-2/6 hidden sm:table-cell">Entidad Territorial</th>
                <th class="px-1 py-2 border-b border-letra-gris-medio w-1/4 hidden md:table-cell">Fecha Creación</th>
                <th class="px-1 py-2 border-b border-letra-gris-medio w-1/6 hidden lg:table-cell">Estado</th>
                <th class="px-1 py-2 border-b border-letra-gris-medio w-2/4 sm:w-2/6 md:w-1/4 text-center">Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pqrd>
            <tr>
                <td class="px-1 py-1 border-b border-letra-gris-claro">{{ pqrd.codigoRadicacion }}</td>
                <td class="px-1 py-1 border-b border-letra-gris-claro">{{ pqrd.aspectoGeneralDePQRD.usuarioPQRD.nombres }} {{pqrd.aspectoGeneralDePQRD.usuarioPQRD.apellidos}}</td>
                <td class="px-1 py-1 border-b border-letra-gris-claro hidden sm:table-cell">{{ pqrd.entidadTerritorial }}</td>
                <td class="px-1 py-1 border-b border-letra-gris-claro hidden md:table-cell">{{ pqrd.fechaCreacion | date: 'shortDate' }}</td>
                <td class="px-1 py-1 border-b border-letra-gris-claro hidden lg:table-cell">{{ pqrd.estado }}</td>
                <td class="px-1 py-1 border-b border-letra-gris-claro">
                    <div class="flex gap-1 justify-center">
                        <button (click)="actualizarPQRD(pqrd)">
                            <i class="pi pi-pencil hover:bg-fondo-verde hover:text-letra-blanca p-2 rounded-full"></i>
                        </button>
                        <button (click)="verDetallesPQRD(pqrd)">
                            <i 
                                [ngClass]="{'pi-eye hover:bg-color-rojo': pqrd.estado == 'Pendiente', 'pi-lock-open hover:bg-fondo-verde': pqrd.estado != 'Pendiente'}"
                                class="pi hover:text-letra-blanca p-2 rounded-full"
                            ></i>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginator">
            <div class="flex justify-end p-1 sticky bottom-0 bg-fondo-blanco">
                <p-paginator [rows]="5" [totalRecords]="listaPQRD.length" [rowsPerPageOptions]="[10, 25, 50]"></p-paginator>
            </div>
        </ng-template>
        </p-table>
    </div>
</div>
